:root {
    --PI: 3.14159265358979;
    --PI-radians: 3.14159265358979rad;
    --sidebar-width: max(15vw, 13rem);
    --sidebar-offset: calc(var(--sidebar-width) / 1.5);
    --background-color: #333333;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

//

nav {
    position: relative;
    z-index: 2;
    width: var(--sidebar-width);
    // background-color: pink;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 80vh;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        // background-color: pink;

        li {
            flex: 1; // grow full size
            width: 100%;
            height: 100%;
            padding: 2rem 0px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            transition: transform 350ms ease;
            // background-color: red;

            a {
                position: relative;
                height: 100%;
                width: 100%;
                color: white;
                font-size: 1.25rem;
                text-decoration: none;
                text-shadow: 0px 0px 20px rgba(255,255,255, 0.5);
                // border: solid 1px red; // for debugging 

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0%; left: 0;
                    // filter: hue-rotate( var(--PI-radians) );
                    filter: brightness(5.0);
                    background: url('/brush.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform-origin: 50% 50%;
                    transform: translate(37%, 79%) rotate(-5deg);
                    width: 60%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity 100ms ease-out;
                }

                &.active::after {
                    opacity: 0.75;
                    transition: opacity 300ms ease;
                }
            }
        }
    }
}

.nav-shadow {
    position: absolute;
    top: 0;
    z-index: 1;
    width: var(--sidebar-offset);
    height: 100vh;
    // background-color: aqua;
    box-shadow: 85px 0px 70px var(--background-color);
}

canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    // Full width - half the sidebar width
    max-width: calc(100vw - var(--sidebar-offset));
    outline: none;
    user-select: none;
    cursor: all-scroll;
}
